    
    <section class="cards-container">
      <h1 class="best-books-title">
        Best Sellers <span class="books">Books</span>
      </h1>
      <h2 class="subtitle">COMBINED PRINT AND E-BOOK FICTION</h2>

      <div class="best-books">
        <div class="wrapper">
          <img src="/src/img/bestsellers/Rectangle 13-min.jpg" />

          <p class="cards-category">I will find you</p>
          <p class="cards-author">Harlan Coben</p>
        </div>

        <div class="see-more-btn">
          <button class="see-more" data-category="category-name">see more</button>
        </div>
      </div>

      
      <h2 class="subtitle">COMBINED PRINT & E-BOOK NONFICTION</h2>

      <div class="best-books">
        <div class="wrapper">
          <img src="/src/img/bestsellers/Rectangle 14-min.png" />

          <p class="cards-category">SAVED</p>
          <p class="cards-author">Benjamin Hall</p>
        </div>

        <div class="see-more-btn">
          <button class="see-more" data-category="category-name">see more</button>
        </div>

        <h2 class="subtitle">HARDCOVER FICTION</h2>

      <div class="best-books">
        <div class="wrapper">
          <img src="/src/img/bestsellers/Rectangle 14 (1)-min.png" />

          <p class="cards-category">STORM WATCH</p>
          <p class="cards-author">C.J. Box</p>
        </div>

        <div class="see-more-btn">
          <button class="see-more" data-category="category-name">see more</button>
        </div>

        <h2 class="subtitle">HARDCOVER nonFICTION</h2>

      <div class="best-books">
        <div class="wrapper">
          <img src="/src/img/bestsellers/Rectangle 14 (2)-min.png" />

          <p class="cards-category">PARIS</p>
          <p class="cards-author">Paris Hilton</p>
          <button class="scroll-up"></button>
        </div>

        <div class="see-more-btn">
          <button class="see-more" data-category="category-name">see more</button>
        </div>
      </div>
      
    </section>

   

  
