h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.cards-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  /* max-width: 335px;
  padding-top: 40px; */
  /* padding-bottom: 40px; */
  padding-left: 20px;
  padding-right: 20px;
}

.best-books-title {
  color: #111;
  font-size: 32px;

  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;

  margin-top: 40px;
  margin-bottom: 40px;
}

.books {
  color: #4f2ee8;
}

.subtitle {
  color: #b4afaf;
  font-size: 14px;

  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  margin-bottom: 18px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 14px;
}

.cards-category {
  color: #111;
  font-size: 16px;

  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.cards-author {
  color: #b4afaf;
  font-size: 12px;

  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.see-more-btn {
  text-align: right;
}

.see-more {
  display: inline-flex;
  padding: 14px 28px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;

  color: #111;
  font-size: 14px;

  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.placeholder {
  display: block;
  margin: 20px auto;
  max-width: 300px;
  height: auto;
}

.scroll-up {
  display: block;

  width: 54px;
  height: 54px;
  flex-shrink: 0;

  border-radius: 54px;
  background: #4f2ee8;
}
